body{
     margin: 0;
     font-family: 'Bebas Neue', cursive;
     background: white;
     color: rgba(61,37,20,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group1{
    background: url("photoBurgerWeek/background.png");
    width: 100%;
    height: 800px;
    color: rgba(61,37,20,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group1-wrapper {
    width: 70%;
}
.head{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.phoneNumber{
     display: flex;
}
.phoneNumber a, .phoneNumber p {
    color: #3d2514;
    margin: auto;
}
.bodyOfGroup{
     display: flex;
     justify-content: space-between;
     margin-top: 60px;
}

.photo-burger img{
    width: 100%;
    height: 100%;
}
#promo{
     border: dashed rgba(61,37,20,255) 2px;
     text-align: center;
}
#promo p {
     margin: 10px;
}
#title{
    font-size:3.5em;
     text-shadow: 5px 5px white;
     letter-spacing: 5px;
}
#title h1{
     margin: 0;
}
#title h3{
     margin: 0;
}
.photo{
     position: relative;
     height: 600px;
     width: 600px;
}

.group2{
     background: white;
     display: flex;
     justify-content: center;
     width: 80%;
     margin: 10px 0 10px 0;
}
.rightsPhotos {
    flex-grow: 1;
}
.image-1, .image-2, .image-3 {
    border-radius: 8px;
    margin: 12px;
}
.image-3, .image-2{
     background: url("photoBurgerWeek/Image.svg");
     background-size: cover;
     flex-shrink: 1;
     flex-grow: 1;
}
.image-1{
    background: url("photoBurgerWeek/ImageBig.svg");
    background-size: cover;
    display: flex;
    flex-shrink: 2;
    flex-grow: 1;
}
.group2 p{
     font-size: 25px;
     padding: 0;
}
.group2 h1{
     font-size: 42px;
     padding: 5px 0 5px 0;
}
.txt{
     color: white;
     padding: 20px 0 0 20px;
}



.group3{
    background: white;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', cursive;
}
.group3 h1 {
    color:#333;
    text-shadow:1px 1px #999;
    font-size:40px;
    margin:40px;
    text-align:center;
}
.gendesin {
    display: block;
    height: 500px;
    min-width: 260px;
    max-width: 1258px;
    box-shadow: -10px -10px 44px -13px #000000;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.coevbusinesen {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
}

.coevbusinesen ul {
  list-style: none;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0px;
  -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.coevbusinesen ul li {
  width: 20%;
  height: 320px;
  float: left;
  position: relative;
}

.coevbusinesen ul li img {
  float: right;
    margin: 10px 70px 0 0 ;
    width: 659px;
    height: 440px;
}

.gendesin input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 100;
  visibility: hidden;
}

.gendesin label {
  position: absolute;
  bottom: 20px;
    left: 65px;
  z-index: 100;
  width: 12px;
  height: 12px;
  background-color:#ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.gendesin input[type=radio]#control1:checked~label[for=control1],
.gendesin input[type=radio]#control2:checked~label[for=control2],
.gendesin input[type=radio]#control3:checked~label[for=control3]
{
    background-color: rgba(255, 192,96,255);
}
.gendesin label[for=control1]{
    margin-left: -36px;
}
.gendesin label[for=control2]{
    margin-left: -18px ;
}
.gendesin input[type=radio]#control1:checked~.coevbusinesen>ul { left: 0 }
.gendesin input[type=radio]#control2:checked~.coevbusinesen>ul { left: -100% }
.gendesin input[type=radio]#control3:checked~.coevbusinesen>ul { left: -200% }

.cordingagend {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 1000;
}
.cordingagend-text {
  color: rgba(61,37,20,255);
  padding:10px;
  top: 0;
  z-index: 4;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.group3 h2{
    font-size: 42px;
}
.group3 p {
    font-size: 21px;
}
.group4{
    text-align: center;
    width: 100%;
    height: 700px;
    background: url("photoBurgerWeek/Burger5.png") no-repeat 0 20%, url("photoBurgerWeek/Bottle.svg") no-repeat 15% 80%, url("photoBurgerWeek/plate.svg") no-repeat 115% 100%;
}
.group4 p{
    font-size: 29px;
}
.group4 h1{
    font-size: 50px;
}
input, button{
    width: 346px;
    height: 52px;
    font-size: 21px;
    font-family: 'Alfa Slab One', cursive;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}
button{
    background: rgba(191, 34,34,255);
    color: white;
    font-weight: bold;
}
.reservationText{
    margin: 10px 0 80px 0;
}
.group5{
    background: white;
    color: white;
    background: url("photoBurgerWeek/background-footer.jpg");
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.leftText, .rightText{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 20px;
}
.leftText p{
    margin-top: 12%;
}
.rightText{
    display: flex;
    align-items: center;
}
.infoWithLogo{
    display: flex;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
}
.top-footer{
    display: flex;

}
.leftText img{
    width: 409px;
    height: 90px
}
.infoWithLogo{
    display: block;
}
.messengers img{
    cursor: pointer;
}

@media (max-width: 1245px) {
    .group2 {
        flex-direction:column;
        width: 50%;
    }
    .image-1{
        flex-grow: 1;
    }
    .image-1, .image-2, .image-3 {

    }
    .footer, .top-footer,.bottom-footer{
        display: block;
    }
    .leftText, .rightText{
    width: 90%;
    }
    #orange, .footer{
        width: auto;
    }
    .oneRightPhoto{
        width: 350px;
        border-radius: 8px;
    }
    .group1{
        padding: 10px 0 0 0;
    }
    .leftText img{
        width: 263px;
        height: 58px;
    }
}

@media (max-width: 768px) {
    .head{
    flex-direction: column;
    align-items: center;
    }
    .bodyOfGroup {
        justify-content: center;
    }
    .photo-burger{
        display: none;
    }
    .group1-wrapper {
        width: 100%;
    }
    .group1{
        height: fit-content;
        padding: 30px 0 30px 0;
    }
    .group3 {
        display: none;
    }
    .phoneNumber img {
        display: none;
    }
}