body{
     margin: 0;
     font-family: 'Alfa Slab One', cursive;
     font-family: 'Bebas Neue', cursive;;
}
.group1{
     width: 100%;
     height: 100vh;
     background: url("photoBurgerWeek/Rectangle.svg");
     color: rgba(61,37,20,255);
}
.head{
     display: flex;
     justify-content: space-between;
}
.phoneNumber{
     display: flex;
     width: 263px;
}
.body{
     display: flex;
}
#promo{
     border: dashed rgba(61,37,20,255) 2px;
     width: 350px;
     height: 50px;
     font-size: 20px;
     text-align: center;
}
#promo p {
     margin-top: 15px;
}
#title{
     text-shadow: 5px 5px white;
     font-size: 300%;
     letter-spacing: 5px;
}
#title h1, #title h3{
     margin: 0;
}
.photo{
     position: relative;
     height: 600px;
     width: 600px;
}
.photo img {
     position: absolute;
}